<form (ngSubmit)="onSubmit()">
  <h2>{{ (manga$ | async)?.title }}</h2>

  <label for="titleInput">Changer titre</label>
  <input id="titleInput" type="text" [(ngModel)]="mangaTitle" name="title" />

  <h2>{{ (manga$ | async)?.author }}</h2>
  <label for="authorInput">Changer auteur</label>
  <input id="authorInput" type="text" [(ngModel)]="mangaAuthor" name="author" />

  <h2>{{ (manga$ | async)?.volumeNumber }}</h2>
  <label for="volumeInput">Changer nombre de pages</label>
  <input
    id="volumeInput"
    type="text"
    [(ngModel)]="mangaVolumeNumber"
    name="volumeNumber"
  />

  <button type="submit">Enregistrer</button>
</form>
